
<div id="u-diag">
  <div class="bio">
    <%= image_tag @user.avatar_url, :class => "avatar" %>
    <div class="bio-text">
      <p><%=h @user.bio %></p>
    </div>
  </div>
  <% unless current_user == @user %>
    <% if current_user and current_user.is_a_fans?(@user) %>
      <% form_tag del_follows_path, :class => "follow" do %>
        <%= hidden_field_tag "star_id", @user.id %>
        <%= submit_tag "unfollow", :class => "submit" %><span class="fullname"><%=h @user.full_name %></span>
      <% end %>
    <% else %>
      <% form_tag follows_path, :class => "follow" do %>
        <%= hidden_field_tag "star_id", @user.id %>
        <%= submit_tag "follow", :class => "submit" %><span class="fullname"><%=h @user.full_name %></span>
      <% end %>
    <% end %>
  <% end %>
</div>

<div id="mb">
  <div class="msg-box" id="msg-list">
    <% @messages.each do |msg| %>
      <div class="msg">
        <p><%=link_to @user.username, stream_path(@user.username) %><span><%=h msg.body %></span></p>
      </div>
    <% end %>
  </div>
</div>

<div id="r-pannel">
  <%= render :partial => "stars", :locals => {:user => @user } %>
  <%= render :partial => "fans", :locals => {:user => @user } %>
</div>
