
<div class="avatarinfo">
  <%= image_tag @user.avatar_url_medium %>
  <p>
    <strong>Change your icon <a href="http://gravatar.com">gravtar.com</a></strong>
    We are now using <%= h @user.email %>
  </p>

</div>

<p>
  <b>Login Name:</b>
  <%=h @user.username %>
</p>

<p>
  <b>Full Name:</b>
  <%=h @user.full_name %>
</p>

<p>
  <b>Bio:</b>
  <%=h @user.bio %>
</p>

<p>
  <b>Email:</b>
  <%=h @user.email %>
</p>

<%= link_to "Edit", edit_user_path(@user.to_param)%>
